<div class="container mt-5">
    <div class="row">

        <div class="img  col-lg-6 ">
            <img  class="p-2" src="http://www.burgerhubthrissur.com/assets/images/gallery/2.jpg" alt="">
            <img src="http://www.burgerhubthrissur.com/assets/images/gallery/3.jpg" alt="">
            <img class="p-3" src="http://www.burgerhubthrissur.com/assets/images/gallery/4.jpg" alt="">

        </div>
        <div class="col-lg-6 mt-5">
            <div class="title">
                <h1>The Story About Burger Hub, Only For</h1>
                <span>Hungry People.</span>

            </div>
           
            <div class="para mt-5 mb-5">
                <p style="text-align: justify;">
                    It's time to tantalize your taste buds with the best burgers in town..
                </p>
                <p style="text-align: justify;">
                    From the bustling kitchen at the Burger Hub, our kitchen crew brings to you a versatile menu offering the extravagant - Burgers, Sandwiches, Wrap sandwiches, Mojitos you have ever tasted. From the first bite of your burger to your last french fry, quality is the most important ingredient of all at Burger Hub. We don't freeze. We don't pre-pack. We don't over-process. We just do things the old-fashioned way. We make them from fresh, 100% pure material. They are free of additives, fillers and preservatives of any kind.
                </p>
                <p style="text-align: justify;">
                    After spending years for having the perfect technique, The Burger Hub have mastered the art to present to you the best burgers in the town. Passionate about serving you the Fresh made Burgers, we do not use frozen patties or comprise with our flavours. So, you shall only experience the fresh food in Burger Hub.
                </p>
                <p style="text-align: justify;">
                    Handcrafted by specialists, our menu is a mixture of authentic recipes & quality ingredients presented in a unique style. A quick getaway, casual meet or a special occasion, Burger Hub's fresh flavours will leave you asking for more..!!!
                </p>

            </div>

        </div>
    </div>
</div>