
span{
    color:#cc3333;
   
}
h1{
    font-family: "Poppins", sans-serif;
    text-transform: capitalize;
    line-height: 1.2;
    margin-bottom: 0;

}
h1{
    color: #2a435d;
    font-size: 60px;
    font-weight: 900;
}
.image{
    margin-left: 100px;
}
.title{
    margin-top: 100px;
}

#user{
    display: flex;
    margin-left: 90%;
    
}
